{% extends "::base.html.twig" %}


{% block title %}
    {{parent()}} - Gestion des objectif commerciaux
{% endblock %}


{% block body %}
    {% block soustitre %}
        <h1>Objectifs commerciaux</h1>
    {% endblock %}
    <hr>
    {% block gsbobjcom_body %}
        
    {% endblock %}
{% endblock %}